<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order List</title>

    <link href="css/assert/bootstrap.min.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body>
    <header class="navbar navbar-static-top bs-docs-nav" id="top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="../" class="navbar-brand">Trade</a>
        </div>
      </div>
    </header>

    <div class="main-body">
      <div class="top-body">
        <div class="top-left-body">
          <h1>Top 20 Bid List</h1>

          <table id="top-buy-list" class="table table-bordered">
            <thead class="thead-default">
            <tr> <th>Number</th> <th>Side</th> <th>Quantity</th> <th>Price</th> </tr>
          </thead>
            <tbody>
              <tr v-for="buy in buys">
                <td>{{ buy.number }}</td>
                <td>{{ buy.side }}</td>
                <td>{{ buy.quantity }}</td>
                <td>{{ buy.price }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="top-right-body">
          <h1>Top 20 Ask List</h1>
          <table id="top-sell-list" class="table table-bordered">
            <thead class="thead-default">
               <tr> <th>Number</th> <th>Side</th> <th>Quantity</th> <th>Price</th> </tr>
            </thead>
            <tbody>
              <tr v-for="sell in sells">
                <td>{{ sell.number }}</td>
                <td>{{ sell.side }}</td>
                <td>{{ sell.quantity }}</td>
                <td>{{ sell.price }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="bottom-body">
        <table id="deal-list" class="table table-bordered">
          <tr>
            <th>Ask Number</th>
            <th>Bid Number</th>
            <th>Quantity</th>
             <th>Price</th>
             <th>Date</th>
           </tr>
          <tbody>
            <tr v-for="deal in deals">
              <td>{{ deal.sellnum }}</td>
              <td>{{ deal.buynum }}</td>
              <td>{{ deal.quantity }}</td>
              <td>{{ deal.price }}</td>
              <td>{{ deal.date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <footer></footer>
    <table id="order-list" class="table" style="display:none;">
      <thead class="thead-default">
      <tr> <th>Number</th> <th>Side</th> <th>Quantity</th> <th>Price</th> </tr>
     </thead>
      <tbody>
        <tr v-for="order in orders">
          <td>{{ order.number }}</td>
          <td>{{ order.side }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.price }}</td>
        </tr>
      </tbody>
    </table>


    <!--------------------------------- Scripts ------------------------------------------>
    <script src="js/jquery.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="orders.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
